@import '../../node_modules/bootstrap/scss/bootstrap';

$font-family: 'Quicksand', sans-serif;
$font-size: 1.3rem;
$theme: rgb(114, 153, 224);
$light-font: #fff;
$dark-font: #222;


//        Bootstrap

.navbar-brand {
  font-size: 2.3rem;
}

.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $light-font;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
        }
    }   

}

.navbar-toggler {
  border: transparent; 

  @include hover-focus {
    text-decoration: none;
    outline: none;
  }
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-start;
}


html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $font-size;
  overflow-x: hidden;
}

.home{
  position: fixed;
  right: 2%;
  bottom: 2%;
  color: $dark-font;
}


header{
  position: absolute;
  right: 0;
  left: 0;
  
  nav{
    z-index: 10;
  }
}

footer{
  z-index: 20;
}

//          Modal

@import "modal";





//        Landing

.landing{
  z-index: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content{
    background: url('../Images/background-images-books-15.jpg') center center no-repeat /cover;
    color: $light-font;
    position: relative;


    .main-heading{
      z-index: 10;
      position: absolute;
      margin-top: 20%;
    }
    
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #0000ffad;
    }
    .btn{
      font-size: $font-size;
    }
  }

  .child{

    img{
      position: relative;
      top: 15%;
      right: 80%;
    }
  }

  
}


//                        Feature Cards


.all-books{
  width: 80%;
  font-size: 1rem;
}

footer{
  background: #000;
  padding: 5% 7%;

  
}

.single-book, .extra-card{
  border-radius: 20px;
}
.card-img{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-img-section{
  position: relative;
  white-space: nowrap;
}

.card-img-section:hover .fa-heart{
  opacity: 1;
}

.fa-heart{
  position: relative;
  top: 90px;
  left: -60px;
  color: $light-font;
  opacity: 0;

  &:hover{
    cursor: pointer;
    color: red;
  }
}

//              For book finding Header

.filter-bar , #book-section{
  background: #0000ffad;
}
.category{
  background: #0000ffad;
}


// Hameburger Menu

.hamb{
  height: 40px;
  background: lightcoral;
  padding: 10px 10px;
  display: block;
}

.hamb-box{
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.hamb-inner{
  display: block;
  top: 50%;
}


.hamb-inner, .hamb-inner::before, .hamb-inner::after{
  background: #fff;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamb-inner::after, .hamb-inner::before{
  content: '';
  display: block;
}
.hamb-inner::after{
  top: 10px;
}
.hamb-inner::before{
  bottom: 10px;
}



/* Transition */

.hamb-box:hover .hamb-inner{
  transform: rotateX(180deg);
  background: transparent;
}

.hamb-box:hover .hamb-inner::before{
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamb-box:hover .hamb-inner::after{
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
  
.desc{
  border-radius: 15px;
}



//                    Book Info Page

.book-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.main-of-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  // background: rgba(0, 0, 255, 0.678);
  z-index: -1;
}


.book-card{
  height: 70vh;
  width: 70vw;
  z-index: 10;
}

.clip{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(135, 206, 250, 0.123);
  clip-path: polygon(23% 0, 100% 0, 100% 100%, 48% 100%);
}
.book-card .row .book-card-col{
  height: 70vh;
}


//                          Book Selling Page

.selling-header{
  position: absolute;
  left: 0;
  right: 0;
}

.main-of-selling{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.selling-form-card{
  height: 70vh;
  width: 70vw;
}

.user-form, .selling-form, .book-form{
  height: 70vh;
}

#file{
  width: 125px;
}


#uploaded{
  border: 1px dotted #333;
  border-radius: 10px;
}